body{
    background-color: rgb(58, 107, 148);
    font-family: 'Inter Tight', sans-serif;
    font-weight: 800;
}

hr {
    border: 1px solid black;
}

#volver {
    display: flex;
    justify-content: center;
    align-items: start;
    transition: 0.3s;
    border-radius: 2rem;
    width: 12rem;
    font-size: small;
    cursor: pointer;
    border: 1px solid grey;
    margin-bottom: 1rem;
}
  
#volver img {
    width: 1.1rem;
    margin-right: 0.5rem;
}

#volver:hover {
    box-shadow: 0rem 0rem 0.5rem rgb(26, 26, 26);
    border: -2px solid white;
    transition: 0.3s;
}

fieldset{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
}

.box-lista{
    display: flex;
    align-items: center;
    width: 250px;
    max-width: 350px;
}

.box-lista li{
    
    list-style: none;
}

.box-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
